<div class="content-item h-entry">

{% if not hero_image_name %}
    <div class="content-title">
        {% include 'partials/blog/title.html.twig' with {title_level: 'h2'} %}
        {% if page.header.subtitle %}
        <h3 >{{ page.header.subtitle }}</h3>
        {% endif %}
        {% include 'partials/blog/date.html.twig' %}
    </div>
{% endif %}
    <div class="e-content">
        {{ page.content|raw }}
    </div>
</div>

<p class="prev-next text-center">
    {% if not page.isLast %}
            <a href="{{ page.prevSibling.url }}">&larr; Föregående</i></a>
    {% endif %}
    {% if not page.isFirst %}
        <a href="{{ page.nextSibling.url }}">Nästa &rarr;</i></a>
    {% endif %}
</p>
