<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>Skapat av <a href="mailto:design@stefano.nu">Struts</a> - som även finns på <a href="https://github.com/Steffestruts">Github</a> och <a href="https://codepen.io/steffestruts">Codepen</a></p>
    </section>
</section>
